name: CI-MacOS
on:
  push:
    branches: [ dev, main ]
  pull_request:
    branches: [ dev, main ]
env:
  CI: true
jobs:
  build:
    runs-on: macos-15-xlarge
    strategy:
      matrix:
        python-version: [3.12]
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Make compile script executable
        run: chmod +x ./mithril/backends/with_manualgrad/c_backend/src/compile.sh
      - name: Make compile scripts executable
        run: |
          chmod +x ./mithril/cores/c/raw_c/compile.sh
          chmod +x ./mithril/cores/c/ggml/compile.sh
          chmod +x ./mithril/cores/c/ggml/build_ggml.sh
      - name: Compile C code
        run: |
          pushd ./mithril/cores/c/raw_c
          ./compile.sh
          popd
          pushd ./mithril/cores/c/ggml
          ./build_ggml.sh
          ./compile.sh
          popd
      - name: Install Python dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install torch==2.4.1
          pip install --upgrade "jax[cpu]"
          pip install mlx==0.21.1
          pip install -r requirements/dev.txt
      - name: Run pre-commit
        run: |
          python3 -m pip install mypy
          python3 -m pip install pre-commit
          pre-commit run --all-files
          python3 license_checker.py
      - name: Execute testcase unit tests
        run: pytest --cov --cov-report=xml -s tests/
      - name: Upload results to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}      

  on_failure:
    needs: build
    runs-on: macos-15-xlarge
    env:
      GH_TOKEN: ${{ github.token }}
    if: ${{ failure() }}
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4
      - name: review_pr
        id: review-pr
        run: |
          gh pr review ${{ github.event.pull_request.number }} -r -b "Tests are failed. Please review the PR."
          exit 1